

$bp-large: 1400px;
$bp-desktop: 1100px;
$bp-medium: 992px;
$bp-small: 768px;
$bp-tiny: 500px;
$bp-old: 350px;

$color-text: #333;
//$color-hilight: #FF6701;
$color-hilight: #ff9e00;
//$color-hilight: #F37A00;
$color-grey-medium: #757575;
