


.intro-video {
	@include transition(opacity 1.5s);
	opacity: 1;
	position: relative;
	z-index: 60;
	.main-wrapper-intro-phase--video &,
	.main-wrapper-intro-phase--logo-appear & {
		opacity: 1;
	}

	.main-wrapper-intro-phase--fade-out & {
		opacity: 0;
	}
}


.intro-logo-big {
	display: none;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	position: fixed;
	z-index: 70;
	//background-image: url(../img/intro-logo.jpg);
	background-size: cover;
	background-position: center center;
	@include transition(opacity 5s 0s, transform 2s 0.5s);
	@include display(flex);
	@include align-items(center);
	@include justify-content(center);
	opacity: 0;

	.main-wrapper-intro-phase--video & {
		opacity: 0;
	}

	.main-wrapper-intro-phase--logo-appear & {
		opacity: 1;
	}

	.main-wrapper-intro-phase--fade-out & {
		opacity: 0;
	}


	img {
		display: none;
		width: 50vw;
		height: auto;
		position: absolute;
		top: 50vh;
		left: 50vw;
		@include transform(translate(-50%, -50%));
		@include transition(top 1s, left 1s, width 1s, transform 1s, opacity 0.5s);
		opacity: 1;
	}
}

.intro-logo-big__top {
	text-align: center;
	@include font-style-heading-2;
	font-size: 55px;
	margin-bottom: 40px;
	text-shadow: none;
	opacity: 0.5;
	display:none;

	.main-wrapper-intro-phase--video & {
	}

	.main-wrapper-intro-phase--logo-appear & {
	}

	.main-wrapper-intro-phase--fade-out & {
	}

}

.intro-logo-big__bottom {
	font-size: 70px;
	text-align: center;
	color: #ffffec;
	opacity: 0.4;
	padding: 0 40px;
	line-height: 100px;
	font-weight: 800;
	text-shadow: 0 1px 0 #fff,
	0 2px 0 #fefedb,
	0 3px 0 #c3c3a8,
	0 4px 0 #afaf96,
	0 5px 0 #adad93,
	0 6px 1px rgba(0, 0, 0, 0.1),
	0 0 5px rgba(0, 0, 0, 0.1),
	0 1px 3px rgba(0, 0, 0, 0.3),
	0 3px 5px rgba(255, 255, 255, 0.2),
	0 5px 10px rgb(177, 177, 152),
	0 10px 10px rgb(183, 183, 159),
	0 20px 20px rgb(183, 183, 157);
	@include transition(opacity 1s 1s, transform 1s 1s);

	.main-wrapper-intro-phase--video & {
		opacity: 0;
		transform: perspective(500px) translate3d(0px, 0px, -300px);

	}

	.main-wrapper-intro-phase--logo-appear & {
		opacity: 0.4;
		transform: perspective(500px) translate3d(0px, 0px, 0px);
	}

	.main-wrapper-intro-phase--fade-out & {
		opacity: 0;
	}

}

.intro-skip {
	position: fixed;
	top: 0px;
	right: 0px;
	padding: 20px;
	color: #FFF;
	cursor: pointer;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
	z-index: 75;
	.main-wrapper-intro-phase--fade-out & {
		opacity: 0
	}
}

.skip-text {
	display: inline-block;
	margin-top: 3px;
	margin-right: 6px;
}

