::-webkit-scrollbar {
  width: 0;
  height: 0;
}

html {
	height: 100%;
}

html, body {
	min-height: 100%;
}

body {
	@include font-style-body;
	color: $color-text;
	min-height: 100%;
	background: #0a0a0a;
	overflow-x: hidden;
	//overflow:hidden;
}

a {
	color: #333;
	font-style: none;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

main {
	min-height: 100%;
}


.tilting-image {
	.tilter {
		width: 100%;
	}
	img {
		width: 100%;
		height: auto;
	}
}

.tilter {
	@include transition(transform 0.2s);
}


.fullscreen-bg {
	width: 100vw;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
	background-size: cover;
	background-position: center center;
}




.hexIcon {
	width: 1em;
	height: 1em;
	background-image: url(../img/hexagon.svg);
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
	font-size: 120px;
	position: relative;
	//@include display(flex);
	//@include justify-content(center);
	//@include align-items(middle);
	.iconcss {
		font-size: 0.4em;
		&:before {
			position: absolute;
			top: 50%;
			left: 0;
			@include transform(translateY(-50%));
			width: 100%;
		}
    &.icon-cast-crew {
      font-size: 0.45em;
    }
    &.icon-ticket {
      font-size: 0.5em;
    }
	}
}


.mobile-message {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1000;
	color: #FFF;
	background: rgba(#000, 1);
	text-align: center;
	padding: 40px;
	@include display(flex);
	@include justify-content(center);
	@include align-items(center);
	display: none;
	@media (max-width: 800px) {
		@include display(flex);
	}
}


.disclaimer {
	margin-top: 60px;
    color: rgba(#FFF, 0.5);
    position: relative;
    z-index: 1000;
    text-align: center;
    padding: 0px 20px;
}
